<html>
  <head>
    <title>Neighborhoods</title>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfTSvwt0mZOkeTNCdjhoqkx-zSQx3jzAs">
    </script>
    <script type="text/javascript" src="../resources/js/custom.js"></script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 37.772807, lng: -122.41353},
          zoom: 13
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>