<html>
  <head>
    <title>Neighborhoods</title>
    <style type="text/css">
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfTSvwt0mZOkeTNCdjhoqkx-zSQx3jzAs">
    </script>
    <script type="text/javascript" src="../static/js/custom.js"></script>
  </head>
  <body>
    <div id="header">
      <h3>Find passing neighborhoods</h3>
    </div>
    <div id="content">
      <div id="map-canvas"></div>
      <div id="result"></div>
    </div>
  </body>
</html>